body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #282c34;
  border-bottom: 3px solid #ccc;
  color: #ccc;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}

#main-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-wrapper {
  min-width: 650px;
  width: 45%;
}

.notation-wrapper {
  width: 50%;
  padding: 0 20px;
}

.item {
  background-color: #eee;
  margin: 2px;
  padding: 8px 4px;
  text-align: left;
}

.item .meta-time {
  float: right;
  display: inline-block;
  padding: 4px;
  margin-right: 10px;
  font-size: 0.6em;
  font-weight: bold;
  color: white;
  background-color: #282c34;
  border-radius: 4px;
}

.active {
  /*animation: increasePadding 2s;*/
  padding: 16px 4px;
  border-left: 4px solid #61dafb;
}

div.active {
  border-right: 1px solid red;
}

/*@keyframes increasePadding {*/
/*  from { padding: 4px }*/
/*  to { padding: 16px 4px }*/
/*}*/

.add-notation-wrapper {
  margin: 20px;
  background-color: #eee;
  padding: 20px;
  text-align: left;
}

.notation-time {
  width: 80px;
  display: inline-block;
  margin: 10px;
}

.notation-description {
  display: inline-block;
  width: 90%;
  height: 4em;
  margin: 10px;
}
